/* ===============
	CODE
=============== */

code {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  //font-family: Courier, monospace;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;

  background-color: #f7f7f7;
  
}

p code,
li code {
  padding: 3px 5px;
}